
@{
    ViewBag.Title = "Index";
}

<h2>Membership Types</h2>

@using (Html.BeginForm())
{
    <button id="btnGetMemberships" class="btn-primary">Get MemberShips</button>
    <button id="btnGetMembership" class="btn-info">Get Membership</button>
    <button id="btnAddMembership" class="btn-success">Add Membership</button>
    <button id="btnUpdateMembership" class="btn-info">Update Membership</button>
    <button id="btnDeleteMembership" class="btn-danger">Delete Membership</button>
    <br />
    <br />
    <input id="txtMembershipID" type="text" placeholder="MembershipID"  class="form-control" />
        <input id="txtName" type="text" placeholder="Membership Name" class="form-control"/>
        <input id="txtSignUpFee" type="text" placeholder="Membership SignUpFee" class="form-control"/>
        <input id="txtDurationInMonths" type="text" placeholder="Membership Duration In Months" class="form-control"/>
        <input id="txtDiscountRate" type="text" placeholder="Membership Discount Rate" class="form-control"/>
    <div id="lblMessage"></div>
    <br />
    <br />

}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#btnGetMemberships').on("click", function () {
                $.ajax({
                    type: "GET",
                    url: "/api/MembershipTypesAPI",
                    dataType: "json",
                    cache: false
                })
                    .done(function (data) {
                        var outPut = '';
                        for (var i = 0; i < data.length; i++) {
                            outPut += '<b>Membership ID: </b>' + data[i].Id + '<br />';
                            outPut += '<b>Membership Name: </b>' + data[i].Name + '<br />';
                            outPut += '<b>Membership SignUpFee: </b>' + data[i].SignUpFee + '<br />';
                            outPut += '<b>Membership DurationInMonths: </b>' + data[i].DurationInMonths + '<br />';
                            outPut += '<b>Membership DiscountRate: </b>' + data[i].DiscountRate + '<hr /><br />';
                        }
                        $('#lblMessage').html(outPut);
                    })
                    .fail(function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('<h2>Error!</h2>')

                    });

                return false;
            });

            $('#btnGetMembership').on("click", function () {
                var membershipID = $('#txtMembershipID').val();
                if (membershipID = "") {
                    $('#lblMessage').html("You must enter a membership ID");
                    return false;
                }
                $.ajax({
                    type: "GET",
                    url: '/api/MembershipTypesAPI/'+membershipID,
                    dataType: "json",
                    cache: false
                })
                    .done(function (data) {
                        var outPut = '';

                            outPut += '<b>Membership ID: </b>' + data.Id + '<br />';
                            outPut += '<b>Membership Name: </b>' + data.Name + '<br />';
                            outPut += '<b>Membership SignUpFee: </b>' + data.SignUpFee + '<br />';
                            outPut += '<b>Membership DurationInMonths: </b>' + data.DurationInMonths + '<br />';
                            outPut += '<b>Membership DiscountRate: </b>' + data.DiscountRate + '<hr /><br />';

                            $('#lblMessage').html(outPut);
                        //if (data != null) {
                            
                        //}
                        //else {
                        //    $('#lblMessage').html("Not records found!!");
                        //}
                    })
                    .fail(function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('<h2>Error!</h2>')

                    });

                return false;
            });

            $('#btnAddMembership').on("click", function () {
                return false;
            });

            $('#btnUpdateMembership').on("click", function () {
                return false;
            });

            $('#btnDeleteMembership').on("click", function () {
                return false;
            });

            $(document).ajaxStart(function () {
                $("#loading").show();
            });

            $(document).ajaxStop(function () {
                $("#loading").hide();
            });

        });
        
    </script>
    <style type="text/css">
        #loading {
            display: none;
            background-color: gray;
            z-index: 999999;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 300px;
            filter: alpha(opacity=70);
            opacity: 0.75;
        }
        
    </style>}
    <div id="loading"><img src="~/Images/loader.gif" /></div>